<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Carreras</title>
</head>

<body>
  <h1>
    <font size="20" , color="#800080"> Lista de Carreras</font>
  </h1>
  <table border="1" cellpadding="1" cellspacing="1">

    <head>
      <tr bgcolor="#800080">
        <th>
          <font size="5" , color="#ffffff">Id de Carrera</font>
        </th>
        <th>
          <font size="5" , color="#ffffff">Nombre</font>
        </th>
        <th>
          <font size="5" , color="#ffffff">Descripción</font>
        </th>
      </tr>
    </head>

    <body>
      <% for(let i=0; i < careers.length; i++) { %>
      <tr bgcolor="#C0C0C0">
        <td><%= careers[i].idC %></td>
        <td><%= careers[i].name %></td>
        <td><%= careers[i].description %></td>
        <td><a href="<%= `deleteCareer/${careers[i]._id}` %>">Delete</a> </td>
        <td><a href="<%= `findByIdC/${careers[i]._id}` %>">Update</a> </td>

      </tr>
      <% } %>
    </body>
  </table>
  <div>
    <br><br><br>
    <a href="./main">
      <font size="20" , color="#800080"> Back </font>
    </a>
  </div>
</body>

</html>