<!DOCTYPE html>
<html>
  <body>
    <h1><font size ="20", color ="#800080"> ACTUALIZAR PERSONA </font></h1>

    <form action="/updatePerson" method="post">
      <label for="nss">NSS:</label>
      <input type="text" id="nss" name="nss" value="<%= `${person.nss}` %>"><br><br>
      <label for="nombre">NOMBRE:</label>
      <input type="text" id="nombre" name="nombre" value="<%= `${person.nombre}` %>"><br><br>
      <label for="edad">EDAD:</label>
      <input type="text" id="edad" name="edad" value="<%= `${person.edad}` %>"><br><br>
      <label for="tipoSangre">TIPO DE SANGRE:</label>
      <input type="text" id="tipoSangre" name="tipoSangre" value="<%= `${person.tipoSangre}` %>"><br><br>
      <label for="objId">ID:</label>
      <input type="text" id="objId" name="objId" value="<%= `${person._id}` %>"><br><br>
      <input type="submit" value="Submit">
    </form>
       <div>
      <br>
      <br>
      <br>
        <a href="./main"><font size ="20", color ="#800080"> Back </font></a>
    </div>
  </body>
  </html>