<!DOCTYPE html>
<html>

<body>
  <h1>
    <font size="20" , color="#800080"> ACTUALIZAR DATOS DE MATERIA </font>
  </h1>

  <form action="/updateSubject" method="post">
    <label for="idS">Id de Materia:</label>
    <input type="text" id="idS" name="idS" value="<%= `${subject.idS}` %>"><br><br>
    <label for="name">NOMBRE:</label>
    <input type="text" id="name" name="name" value="<%= `${subject.name}` %>"><br><br>
    <label for="description">Descripción:</label>
    <input type="text" id="description" name="description" value="<%= `${subject.description}` %>"><br><br>
    <label for="id_teacher">Id de Maestro:</label>
    <input type="text" id="id_teacher" name="id_teacher" value="<%= `${subject.id_teacher}` %>"><br><br>
    <label for="objId">ID:</label>
    <input type="text" id="objId" name="objId" value="<%= `${subject._id}` %>"><br><br>
    <input type="submit" value="Submit">
  </form>
  <div>
    <br>
    <br>
    <br>
    <a href="./main">
      <font size="20" , color="#800080"> Back </font>
    </a>
  </div>
</body>

</html>